.link__button{
    padding-bottom: 3px;
    position: relative;
    color: #181818;
    display: inline-block;
}

.link__button::before{
     content: '';
    position: absolute;
    width: 0;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #181818;
    transition: width 0.3s ease;
}


.link__button:hover::before {
    width: 100%;
  }